body{
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
h1{
    color: darkblue;
    text-align: center;
    text-decoration: underline;
}
h2{
    color: rgb(0, 255, 242);
    text-decoration:underline;
    text-align: center;
}
table{
    width: 50%;
    margin: 20px auto;
    border: 0cap;
}
th,td{

    text-align: center;
    border: 0cap;
    border-color: black;
    
}
td,th{
    border: 2px cornflowerblue solid;
}
p{
    color:black;
    text-align: center;
}
h1{
    text-align: center;
    font-style: normal;
}
body{
    background-color: gray;
}
