body{
    background-color:darkgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container{
    background-color:ghostwhite;
    padding: 20px;
    display: flex;
    gap: 20px;
    
}
.service{
    border: 1px solid black;
    background-color:plum;
    flex: 1;
}
/* adding responsives */
@media(max-width:768px){
    body{
    background-color:brown
}
#container{
    flex-direction: column;

}}