body{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color:purple;
    text-align: center;
    text-decoration: underline;
}
#myform{
    border:1px solid black;
    width: 50%;
    margin: 10px auto;
    color: coral;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
}
input,textarea{
    border: 1px solid rebeccapurple;
    width: 100%;
    border-radius: 5px;
    padding: 1px;
}
label {
    font-weight: bold;
    display: inline;
    line-break: normal;
}
input[type="submit"]{
    color:mediumblue;
    background-color: darkgray;
    margin-top:5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover{
background-color:purple;
}
